<div class="container">
  <div class="jumbotron my-4">
    <h1 class="display-6 text-center"><i class="far fa-heart"></i></h1>
    <p class="lead text-center">Genial {{name}} ¡¡¡ TU registro a sido satisfactorio Bienvenido a la familia QAMPY</p>
    <a href="login">Ingresar</a>
  </div>
</div>
