<!-- escoger registro -->

<div class="container">
  <div class="row mt-5">
    <div class="col-5 mx-auto text-center alert-info rounded">
      <a href="/registroUser" class="btn btn-secondary mt-2"><i class="fas fa-user"></i> Registro de Usuario</a>
      <div class="container mt-3">
        <p>Persona que deseé pertenecer a la familia de QAMPY, y cuidar de su salud</p>
      </div>
    </div>
    <div class="col-5 mx-auto text-center alert-info rounded">
      <a href="/registroDoctor" class="btn btn-secondary mt-2"><i class="fas fa-user-md"></i> Registro de Especialista</a>
      <div class="container mt-3">
        <p>Medicos, Enfermeros y personas relacionadas con el área de salud humana que desee pertenecer a la familia de QAMPY</p>
      </div>
    </div>
  </div>
</div>
