<div class="container mt-4">
  <div class="card w-50 mx-auto text-center bg-light" style:"opacity:50%;">
    <div class="card-img">
      <img class="rounded-cicle mx-auto mt-3"src="public/img/LogoImg.png" alt="Aqui va logo">
    </div>

    <div class="card-body">
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese email">
        </div>
        <div class="form-group">
          <label for="contrasena">Contraseña :</label>
          <input name="password" type="password" class="form-control" id="contrasena" placeholder="Password">
        </div>
        <div class="form-group">
          <a href="#">he olvidado mi contraseña</a>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
    </div>

  </div>
</div>
