<div class="row">
  {{> navSliderUsers}}

  <div class="col-9">
    <h1 >Historial </h1>
    <div class="row justify-content-end px-4">
      <a href="/historial/new"><i class="fas fa-plus-circle"></i> A침adir Un Historial</a>
    </div>
    <div class="row px-4">
      <!-- <div class="container"> -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">C칩digo</th>
              <th scope="col">Resumen</th>
              <th scope="col">Adventencias</th>
              <th scope="col">Realizado Por</th>
              <th scope="col">Acceso</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>sue침o cansado, diarrea, ojos amarrillos</td>
              <td>Probable fiebre amarrilla</td>
              <td>Especialista Juan</td>
              <td><a href="#">Ver Detalles</a></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>sue침o diarrea, diarrea, mareos</td>
              <td>Probable fiebre amarrilla</td>
              <td>Especialista Juan</td>
              <td><a href="#">Ver Detalles</a></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mareos, ojos blancos, ojos amarrillos</td>
              <td>Probable fiebre amarrilla</td>
              <td>Usuari: Juan</td>
              <td><a href="#">Ver Detalles</a></td>
            </tr>
          </tbody>
        </table>
      <!-- </div> -->
    </div>
  </div>
</div>
