<!-- lado derecho -->


    <div class="row">

      {{> navSliderUsers}}

      <div class="col-9">

        <div class="container">
          <h3>Consulta</h3>
          <form class="" action="">

            <div class="row py-2">
              <div class="col">
                <label for="">Fecha</label>
                <input type="date" name="" value="">
              </div>
              <div class="col">
                <label for="">Hora</label>
                <input type="time" name="" value="">
              </div>
              <div class="col">
                <label for="">Edad</label>
                <input type="text" name="" value="">
              </div>
            </div>

            <div class="row py-2">
              <div class="col">
                <label for="">Motivo de la consulta: </label>
              </div>
              <div class="col">
                <input type="text" name="" value="">
              </div>
            </div>

            <div class="row py-2">
              <div class="col">
                <label for="">Tipo de enfermedad: </label>
              </div>
              <div class="col">
                <input type="text" name="" value="">
              </div>
            </div>

            <div class="row py-2">
              <div class="col">
                <label for="">Signos y sintomas: </label>
              </div>
              <div class="col">
                <input type="text" name="" value="">
              </div>
            </div>

            <div class="row py-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Relato Cronico</span>
              </div>
              <textarea class="form-control" aria-label="With textarea">Información</textarea>
            </div>

            <div class="row py-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Factor de riesgo identificado</span>
              </div>
              <textarea class="form-control" aria-label="With textarea">Información</textarea>
            </div>

            <div class="row py-2">
              <div class="col">
                <label for="">Apetito : </label>
                <input type="text" name="" value="">
              </div>
              <div class="col">
                <label for="">sed :</label>
                <input type="text" name="" value="">
              </div>
              <div class="col">
                <label for="">Sueño :</label>
                <input type="text" name="" value="">
              </div>
            </div>

            <div class="row py-2">
              <div class="col">
                <label for="">Orina :</label>
                <input type="text" name="" value="">
              </div>
              <div class="col">
                <label for="">Deposiciones :</label>
                <input type="text" name="" value="">
              </div>
            </div>

            <!-- respuestas de si o no -->
            <div class="row py-2">
              <div class="col-8">
                <div class="row">
                  <div class="col">
                    <label for="">Fiebre en los ultimos 15 días :</label>
                  </div>
                  <div class="col">
                    <span class=" px-2 badge badge-pill badge-dark">Si</span>
                    <span class=" px-2 badge badge-pill badge-dark">No</span>
                  </div>
                </div>


                <div class="row py-2">
                  <div class="col">
                    <label for="">Viajo en las últimas semanas :</label>
                  </div>
                  <div class="col">
                    <span class=" px-2 badge badge-pill badge-dark">Si</span>
                    <span class=" px-2 badge badge-pill badge-dark">No</span>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col">
                    <label for="">Tos hace 15 días :</label>
                  </div>
                  <div class="col">
                    <span class=" px-2 badge badge-pill badge-dark">Si</span>
                    <span class=" px-2 badge badge-pill badge-dark">No</span>
                  </div>
                </div>

                <div class="row py-2">
                  <div class="col">
                    <label for="">Secrecion o lesion en genitales</label>
                  </div>
                  <div class="col">
                    <span class=" px-2 badge badge-pill badge-dark">Si</span>
                    <span class=" px-2 badge badge-pill badge-dark">No</span>
                  </div>
                </div>
                <a href="/historial/parametrosQampy">Añadir datos Qampy</a>
              </div>

              <div class="col-4">
                <label for="">Ubicación de la consulta</label>
                <input type="text" name="" value="">
              </div>
            </div>


            <div class="row ">
              <button class="btn btn-primary mx-auto d-block" type="submit" name="button">Guardar Historial</button>
            </div>

          </form>
        </div>
        <!-- fin container           -->
      </div>

    </div>
