<!-- navSlider del Usuario -->
<!-- <div class="row"> -->
  <div class="col-3 bg-light">
    <nav class="d-md-block sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/">
              <i class="fas fa-home px-2"></i>Inicio
            </a>
          </li>

          <hr>

          <li class="nav-item">
            <a class="nav-link" href="/historial">
              <i class="fab fa-leanpub px-2"></i>Historial Clinico
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-user-md px-2"></i>Especialistas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-align-left px-2"></i>Mis parametros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fab fa-pagelines px-2"></i>Vive Saludable
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="far fa-hospital px-2"></i>Emergencia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-mobile px-2"></i>Descarga APP
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-cash-register px-2"></i>Alquiler QAMPY
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-cog px-2"></i>Configuraciones
            </a>
          </li>
        </ul>
    </nav>
  </div>
<!-- </div> -->
